<%- include ('./partials/header.ejs') %>

<header>
    <h1>Enquête <%= course %></h1>
</header>

<% if(courseList) { %>
    <script>
    grade = `<%= grade %>`
    console.log(grade)
    </script>
<% } %>

<main>
    <form action="/<%= id %>/enq-redirect/<%= course %>" method="post">
        <fieldset>
            <legend>Docenten <%= course %></legend>
            <% data.lecturer.forEach(lecturer => { %>
            <input type="radio" id="<%= lecturer %>" name="lecturer" value="<%= lecturer %>" <% if(courseList && courseList.lecturer == courseList.lecturer){%><%='checked'%><%}%>>
            <label for="<%= lecturer %>"><%= lecturer %></label>
            <% }); %>
        </fieldset>
        <fieldset id="q1">
            <legend>Welke periode volgde je het vak <%= course %>?</legend>
            <input type="radio" id="period1" name="period" value="Week 1 t/m 4" <% if(courseList && courseList.period == 'Week 1 t/m 4'){%><%='checked'%><%}%>>
            <label for="period1">Week 1 t/m 4</label>
            <br>
            <input type="radio" id="period2" name="period" value="Week 5 t/m 8" <% if(courseList && courseList.period == 'Week 5 t/m 8'){%><%='checked'%><%}%>>
            <label for="period2">Week 5 t/m 8</label>
            <br>
            <input type="radio" id="period3" name="period" value="Week 9 t/m 12" <% if(courseList && courseList.period == 'Week 9 t/m 12'){%><%='checked'%><%}%>>
            <label for="period3">Week 9 t/m 12</label>
            <br>
            <input type="radio" id="period4" name="period" value="Week 13 t/m 16" <% if(courseList && courseList.period == 'Week 13 t/m 16'){%><%='checked'%><%}%>>
            <label for="period4">Week 13 t/m 16</label>
        </fieldset>
        <fieldset id="q2" class="number">
            <legend>Geef <%= course %> een cijfer ( 1 - 10 )</legend>
            <label for="grade">Mijn cijfer:</label>
            <input type="number" min="0" max="10" step="1" id="grade" name="grade" <% if(courseList && courseList.grade){%><%=`value=${courseList.grade}`%><%} else {%><%=`value=0`%><%}%>>
        </fieldset>
        <fieldset id="q3">
            <legend>Hoe goed vond je de lesstof?</legend>
            <input type="radio" id="material_good" name="material" value="good" <% if(courseList && courseList.material == 'good'){%><%='checked'%><%}%>>
            <label for="material_good">Boven verwachtingen</label>
            <br>
            <input type="radio" id="material_medium" name="material" value="medium" <% if(courseList && courseList.material == 'medium'){%><%='checked'%><%}%>>
            <label for="material_medium">Zoals verwacht</label>
            <br>
            <input type="radio" id="material_bad" name="material" value="bad" <% if(courseList && courseList.material == 'bad'){%><%='checked'%><%}%>>
            <label for="material_bad">Slechter als verwacht</label>
        </fieldset>
        <fieldset id="q4">
            <legend>Hoe vond je de lesgeving?</legend>
            <input type="radio" id="content_good" name="content" value="good" <% if(courseList && courseList.content == 'good'){%><%='checked'%><%}%>>
            <label for="content_good">Alles werdt tot in hoog detail uitgelegd</label>
            <br>
            <input type="radio" id="content_medium" name="content" value="medium" <% if(courseList && courseList.content == 'medium'){%><%='checked'%><%}%>>
            <label for="content_medium">Alles werd uitgelegd tot op redelijk niveau</label>
            <br>
            <input type="radio" id="content_bad" name="content" value="bad" <% if(courseList && courseList.content == 'bad'){%><%='checked'%><%}%>>
            <label for="content_bad">Uitleg ging niet diep de stof in</label>
        </fieldset>
        <fieldset id="q5">
            <legend>Heb je veel geleerd tijdens dit vak?</legend>
            <input type="radio" id="learning_good" name="learning" value="good" <% if(courseList && courseList.learning == 'good'){%><%='checked'%><%}%>>
            <label for="learning_good">Ja</label>
            <br>
            <input type="radio" id="learning_bad" name="learning" value="bad" <% if(courseList && courseList.learning == 'bad'){%><%='checked'%><%}%>>
            <label for="learning_bad">Nee</label>
        </fieldset>
        <fieldset id="q6">
            <legend>Extra opmerkingen</legend>
            <label for="comments"></label>
            <textarea name="comments" id="comments" rows="5"><% if(courseList && courseList.comments){%><%=courseList.comments%><%}  %></textarea>
        </fieldset>
        <input type="submit" name="submit" id="submitEnquete" value="Verstuur Enquête"></input>
        <input type="submit" name="save" value="Sla tijdelijk op"></input>
    </form>
</main>

<%- include ('./partials/listFooter.ejs') %>